.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
}

.dark-mode .App-header {
  background-color: darkblue;
}

.light-mode .App-header {
  background-color: aquamarine;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: gray;
  color: white;
}

body {
  background-color: #f0f0f0; 
  padding: 0;
  font-family: sans-serif; 
}

body .light-mode {
  background-color: white;
}

body .dark-mode {
  background-color: gray;
}

button {
  padding: 10px;
  border: 2px solid gray; 
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}

.light-mode .login-container button {
  background-color: aquamarine;
  color: black;
}

.dark-mode .login-container button {
  background-color: darkblue;
  color: white;
}

.login-container button {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 25%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: white; 
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group input {
  border-radius: 15px; 
  justify-content: space-between;
  width: 60%;
  padding: 8px;
  margin-top: 5px;
  align-items: 'center';
  align-self: center;
}

.login-container button {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  align-self: center;
}

.main-container {
  padding: 20px;
}
